<div class="wrapper">
  <nav class="page-category-bar">
    <a href="{{site.baseurl}}/" class="category-link">Posts</a>
    <span class="category-link-desc"> Categories: </span>
    {% for arch_page in site.pages %}
      {% if arch_page.archive %}
        {% if arch_page.shorttitle %}
          <a href="{{arch_page.url | prepend: site.baseurl }}" class="category-link">{{arch_page.shorttitle}}</a>
        {% else %}
          <a href="{{arch_page.url | prepend: site.baseurl }}" class="category-link">{{arch_page.title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <a href="{{site.baseurl}}/all_categories/" class="category-link">All</a>
  </nav>

</div>
