---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-tagline">{{ page.tagline }}</p>
  </header>


  {% for s_categs in site.categories %}
    {% assign s_categ = s_categs[0] %}
    <h2> {{ s_categ }} </h2>
    <div class="archive-tag-list-container">
    {% if site.data.tags[s_categ] %}
      {% for site_tag in site.data.tags[s_categ] %}
        <div class="archive-tag-area" id="{{site_tag}}">
          <div class="archive-tag-clickable">
            <h3 class="archive-tag-name"> {{site_tag}} : </h3>
          </div>
          <ul  class="archive-tag-list" style="" >
            {% for post in site.posts %}
              {% for post_categ in post.categories %}
                {% if post_categ == s_categ %}
                  {% for post_tag in post.tags %}
                    {% if post_tag == site_tag %}
                      <li>
                        <p>
                          <span class="archive-pre">{{ site_tag }}</span> 

                          <span class="post-meta"> &gt;  {{ post.date | date: "%b %-d, %Y" }} &gt;</span>
                          <a class="post-small-link" href="{{ post.url | prepend: site.data.global.baseurl }}">{{ post.title | truncatewords:8}}</a>

                          {% if post.excerpt %}
                            <br/>
                            <span class="archive-pre"> &nbsp; </span>
                            <span class="archive-desc">... {{ post.excerpt | strip_html | truncatewords:10 }}</span>
                          {% endif %}
                        </p>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endif %}
      <div class="archive-tag-area" id="all_items">
        <div class="archive-tag-clickable">
          <h3 class="archive-tag-name"> all items in {{s_categ}}: </h3>
        </div>
        <ul  class="archive-tag-list" style="">
          {% for post in site.posts %}
            {% for post_categ in post.categories %}
              {% if post_categ == s_categ %}
                <li>
                  <p>
                    <span class="archive-pre"> {{ s_categ }}(.all)</span>
                    <span class="post-meta"> &gt;  {{ post.date | date: "%b %-d, %Y" }} &gt;</span>
                    <a class="post-small-link" href="{{ post.url | prepend: site.data.global.baseurl }}">{{ post.title | truncatewords:8}}</a>

                    {% if post.excerpt %}
                      <br/>
                      <span class="archive-pre"> &nbsp; </span>
                      <span class="archive-desc">... {{ post.excerpt | strip_html | truncatewords:10 }}</span>
                    {% endif %}
                  </p>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}


  <h2> uncategorized tags: </h2>
  <div class="archive-tag-list-container">
    {% for tag in site.data.tags['uncateg'] %}
    <h3 class="archive-tag-name">{{tag}}: </h3>
      <ul  class="archive-tag-list">
        {% for post in site.posts %}
          {% for ptag in post.tags %}
            {% if ptag == tag %}
              <li>
                <p>
                  <span class="archive-pre"> uncateg.{{ tag }}</span>
                  <span class="post-meta"> &gt;  {{ post.date | date: "%b %-d, %Y" }} &gt;</span>
                  <a class="post-small-link" href="{{ post.url | prepend: site.data.global.baseurl }}">{{ post.title }}</a>

                  {% if post.excerpt %}
                    <br/>
                    <span class="archive-pre"> &nbsp; </span>
                    <span class="archive-desc">... {{ post.excerpt | strip_html | truncatewords:10 }}</span>
                  {% endif %}
                </p>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>


</article>


